body {
    background-color: #FFFFFF;
    padding: 15px;
  }

ul {
    list-style-position: inside;
}
ul li {
    list-style-position: outside;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
#main {
    background-color: #DCDCDC;
  }